.skills__list {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills__list-item {
    margin: 0.3em;
}

.section.skills {
    transition: background-color 0.3s ease, transform 0.2s linear;
}

.section.skills:hover {
    background-color: var(--skills-background-color);
    transform: translateY(-7px);
}



