.Toggle {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1;
}

.toggle-wrapper {
    position: relative;
    top: 15px; /* adjust as needed */
}
